<form id="wallet__IO">
	<input type="submit" name="submitItem" value="&ndash;" class="button button--remove" ng-click="submit('remove')" />
	<input type="text" class="input" ng-model="submitItemValue" />
	<input type="submit" name="submitItem" value="+" class="button button--add" ng-click="submit('add')" />
</form>

<ul id="wallet__list">
	<li ng-repeat="item in walletItems track by $index" class="wallet__item--{{item.action}}">	
		{{item.date | dateToISO | date:'dd/MMM/yy HH:MM:ss'}}
		{{currencySelector.symbol}}
		{{item.value}}		
	</li>
</ul>

<strong ng-show="walletTotal != undefined" >Total: <span class="fa fa-{{selectedCurrency}} fa-{{currencySelector.name | lowercase}}"></span>  {{walletTotal}}</strong>

<select id="currencySelector" ng-model="currencySelector"  ng-options="currency.name | uppercase for currency in availableCurrencies"> 
</select>